.logosassos {
    display:block;
    width:95%;
    border-radius:10px;
    border:1px solid #0c5091;
    padding:5px;
    margin:5px;
    text-align:center;
}
.logosassos a {
    display:inline-block;
    width:75px;
    height:75px;
    vertical-align:middle;
    margin:3px;
    padding:3px;
    outline:1px dashed #0c5091;
    border:5px solid #FFFFFF;
    line-height: 75px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
}

.noLogo span
{
    color: black;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
}