.trCenter {
	text-align: center;
}

.percent {
	text-align:right;
}

.USER_CLOUD {
	width: 110px;
<<<<<<< HEAD
	overflow: hidden;
	max-width: 110px;
=======
>>>>>>> d8796ecf59917e517f4669fbd39c26d6b1bad59b
}

.DATE_CLOUD {
	width: 85px;
<<<<<<< HEAD
	overflow: hidden;
	max-width: 85px;
=======
>>>>>>> d8796ecf59917e517f4669fbd39c26d6b1bad59b
}

.BUTTON_CLOUD {
	width: 76px;
<<<<<<< HEAD
	overflow: hidden;
	max-width: 76px;
=======
>>>>>>> d8796ecf59917e517f4669fbd39c26d6b1bad59b
}

.PATH {
	width: 237px;
<<<<<<< HEAD
	overflow: hidden;
	max-width: 237px;
=======
>>>>>>> d8796ecf59917e517f4669fbd39c26d6b1bad59b
}

.PERCENT_CLOUD {
	width:28px;
<<<<<<< HEAD
	overflow: hidden;
	max-width:28px;
=======
>>>>>>> d8796ecf59917e517f4669fbd39c26d6b1bad59b
}