.trCenter {
	text-align: center;
}

.percent {
	text-align:right;
}

.USER_CLOUD {
	width: 110px;
	overflow: hidden;
	max-width: 110px;
}

.DATE_CLOUD {
	width: 85px;
	overflow: hidden;
	max-width: 85px;
}

.BUTTON_CLOUD {
	width: 76px;
	overflow: hidden;
	max-width: 76px;
}

.PATH {
	width: 237px;
	overflow: hidden;
	max-width: 237px;
}

.PERCENT_CLOUD {
	width:28px;
	overflow: hidden;
	max-width:28px;
}