/*
* Importation polices Google fonts
*/
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Slabo+13px);
/**/


/*
* Elements génériques
*/
html{
    cursor:url('../Img/cursor1.png'), auto ;
}
body {
    background-image:url('../Img/body_fond.jpg');
    background-repeat:repeat;
    background-attachment: fixed;
    font-family:'Titillium Web',Verdana,sans-serif;
    display:block;
    top:80px;
    left:10%;
    right:10%;
    bottom:25px;
    overflow:auto;
    cursor:url('../Img/cursor1.png'), auto ;
    margin:0;
    padding:0;
}
nav {
    display:block;
    position:fixed;
    top:70px;
    left:0;
    width:100%;
    height:30px;
    background-color: #0c5091;
    background:linear-gradient(to bottom,rgba(12,80,145,1),rgba(51,122,183,0.5));
    text-align:center;
    z-index:2;
    box-shadow:0px 2px 2px rgba(0,0,0,50);
}
a {
    cursor:url('../Img/cursor4.png'), auto ;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
img {
    border:0;
    vertical-align:middle;
}
input, textarea {
    cursor:url('../Img/cursor9.png'), auto ;
    border-radius:4px;
    background-color:#a3cfea;
    font-size:11pt;
    padding:1px 3px 1px 4px;
    margin:1px 2px 1px 2px;
    border:2px solid #0c5091;
    font-family: 'Slabo 13px', serif;
    transition:ease 0.5s;
}
input:hover, textarea:hover {
    border:2px solid #4bc9e2;
}
input:focus, textarea:focus {
    background-color: #FFF;
}
h1 {
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:13pt;
    color:#0c5091;
    text-shadow: 1px 2px #a3cfea;
    padding:0;
    margin:2px;
}
li {
    text-indent: 0;
    padding:0;
    margin:0;
}
/*
* Elements du layout
*/
.bandeau {
    display:block;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    background-color: #4bc9e2;
    background:url('../Img/headerbg.png'),-webkit-linear-gradient(top left, rgba(51,122,183,0.7),rgba(75,201,226,1));
    background:url('../Img/headerbg.png'),-o-linear-gradient(bottom right, rgba(51,122,183,0.7),rgba(75,201,226,1));
    background:url('../Img/headerbg.png'),linear-gradient(to bottom right, rgba(51,122,183,0.7),rgba(75,201,226,1));
    background-repeat:no-repeat;
    background-position:bottom right;
    border:1px solid #FFF;
    padding:0;
    margin:0;
    z-index:1;
}
.sitetitle {
    display:block;
    position:absolute;
    top:5px;
    left:120px;
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:20pt;
    color:#FFFFFF;
    text-shadow: 1px 2px #337ab7;
}
.subtitle {
    display:block;
    font-size:13pt;
}
.leftcol {
    display:block;
    position:fixed;
    top:110px;
    right:50%;
    width:193px;
    margin:0 290px 0 0px;
    padding:0;
}
.rightcol {
    display:block;
    position:fixed;
    top:110px;
    left:50%;
    width:193px;
    margin:0 0 0 290px;
    padding:0;
}
.infosperso, .recentarticles, .nextevents, .linksnewsletters {
    display:block;
    width:193px;
    color:#000;
    font-size:10pt;
    overflow:hidden;
    font-family:'Quicksand',Verdana,sans-serif;
    background-color:#FFFFFF;
    border-radius:10px;
    box-shadow:2px 2px 2px rgba(0,0,0,100);
    text-align:center;
    border:1px solid #0a2d5f;
    padding: 10px 0px 10px 0px ;
    margin:0 0 5px 0;
}
.infosperso .photo {
    display:inline-block;
    width:100px;
    height:100px;
    margin:2px;
}
.infosperso .nom {
    font-weight:bold;
    font-size:13pt;
}
.infosperso .asso {
    font-style: italic;
    font-size:11pt;
}
.notification {
    display:block;
    position:fixed;
    right:120px;
    top:38px;
    width:100px;
    height:30px;
    border:1px solid #FFF;
    padding:0;
    text-align:center;
    background-color: #337ab7;
    font-weight:bold;
    font-family: 'Cabin', sans-serif;
    font-size:12pt;
    line-height:30px;
    vertical-align:middle;
    cursor:url('../Img/cursor8.png'), auto ;
    z-index:5;
}
.notification a {
    cursor:url('../Img/cursor8.png'), auto ;
    color:#0189C7;
}
.notification a:hover {
    color:#FFFFFF;
}
.messages {
    display:block;
    position:fixed;
    right:220px;
    top:38px;
    width:100px;
    height:30px;
    border:1px solid #FFF;
    padding:0;
    text-align:center;
    background-color: #a3cfea;
    font-weight:bold;
    border-radius: 20px 0 0 0;
    font-family: 'Cabin', sans-serif;
    font-size:12pt;
    line-height:30px;
    vertical-align:middle;
    cursor:url('../Img/cursor8.png'), auto ;
    z-index:20;
}
.messages a {
    cursor:url('../Img/cursor8.png'), auto ;
    color:#0a2d5f;
}
.deconnexion {
    display:block;
    position:fixed;
    width:120px;
    height:30px;
    padding:0;
    text-align:center;
    background-color:#0a2d5f;
    color:#a3cfea;
    font-weight:bold;
    right:0;
    top:38px;
    border:1px solid #FFF;
    font-family: 'Cabin', sans-serif;
    font-size:10pt;
    transition:ease 0.5s;
    line-height:30px;
    vertical-align:middle;
    cursor:url('../Img/cursor2.png'), auto ;
    z-index:20;
}
.deconnexion:hover {
    background-color:#FFF;
    color:#0a2d5f;
    border:1px solid #0a2d5f;
}
.infosperso form {
    display:block;
    width:100%;
    margin:0 0 0 0;
    text-align:center;
    vertical-align:middle;
}
.titrecol {
    display:block;
    position:relative;
    margin:0 0 10px 0;
    padding:1px 4px 4px 1px;
    left:5px;
    height:20px;
    width:171px;
    text-align:center;
    background-color:#a3cfea;
    color:#0a2d5f;
    border-radius: 10px;
    border:1px solid #0c5091;
    box-shadow: 2px 2px 2px #000000;
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:12pt;
}
.infosperso label {
    font-size:12pt;
    font-weight:bold;
    cursor:inherit;
}
.btn {
    cursor:inherit;
}
.infosperso .lostpass, .lienprofil {
    display:inline-block;
    font-size:10pt;
    text-decoration:none;
    color:#0a2d5f;
    padding:1px 2px 4px 2px;
}
.infosperso #login, #password {
    width:90%;
    margin-top:5px;
    margin-bottom:5px;
}
nav ul {
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    padding:0;
}
nav li {
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    padding:0;
    display:inline-block;
    position:relative;
}
nav li a {
    display:inline-block;
    width:150px;
    background-color:#FFFFFF;
    color:#0a2d5f;
    font-weight:bold;
    text-decoration: none;
    margin:4px;
    border-radius: 4px;
    border:1px #0c5091 solid;
    transition:ease 0.5s;
    font-family: 'Cabin', sans-serif;
    font-size:11pt;
    font-weight:bold;
    text-shadow:none;
}
nav li .submenu {
    display:none;
}
nav li:hover .submenu {
    display:block;
    position:absolute;
    top:25px;
    left:0;
}
.submenu a {
    display:block;
    box-shadow:2px 2px 2px;
}
nav li a:hover {
    color: #000000;
    background-color: #a3cfea;
    text-decoration:none;
}
.page {
    display:block;
    position:absolute;
    top:110px;
    left:50%;
    padding:10px 10px 30px 10px;
    width:540px;
    margin:0 0 40px -280px;
    cursor:url('../Img/cursor1.png'), auto ;
    font-family:'Titillium Web', Verdana, sans-serif;
    font-size:12pt;
    background-color:#FFFFFF;
    border-radius:10px;
    box-shadow:2px 2px 2px rgba(0,0,0,50);
    border:1px solid #0a2d5f;
}
.page h1 {
    font-size:15pt;
    margin:2px;
}
button, #loginbutton {
    color:#ffffff;
    border:1px solid #ffffff;
    background-color:#0a2d5f;
    border-radius:5px;
    padding:1px 4px 1px 4px;
    font-weight:bold;
    transition:ease 0.5s;
    cursor:url('../Img/cursor2.png'), auto ;
    font-family:'Cabin',Verdana,sans-serif;
}
button, #loginbutton:hover {
    color:#0a2d5f;
    border:1px solid #0a2d5f;
    background-color:#a3cfea;
}
.logo {
    font-size:0;
    display:block;
    position:absolute;
    top:5px;
    left:10px;
    width:84px;
    height:60px;
    background-image:url('../Img/logo.png');
    cursor:url('../Img/cursor3.png'), auto ;
}
.footer {
    display:block;
    position:fixed;
    bottom:0;
    width:100%;
    height:20px;
    line-height:15px;
    vertical-align:middle;
    text-align:center;
    background-color:#0a2d5f;
    color:#FFF;
    font-size:10pt;
    font-family:'Quicksand',Verdana,sans-serif;
}
.footer a {
    color:#FFF;
    cursor:url('../Img/cursor5.png'), auto ;
}
.footer a:hover {
    color:#4bc9e2;
    text-decoration:none;
}

.customAlert {
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    background:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.7));
    z-index:10;
    margin:0;
    padding:0;
}
.customAlert .box {
    display:block;
    background-color:#a3cfea;
    width:300px;
    border-radius: 10px;
    padding:5px 5px 40px 5px;
    position:fixed;
    bottom:50%;
    left:50%;
    margin-left: -150px;
    margin-bottom:-20px;
    text-align:center;
    opacity:1;
    color:#000000;
    border:1px solid #FFFFFF;
}
.customAlert .ok {
    display:block;
    position:absolute;
    bottom:0;
    left:-2px;
    width:100%;
    height:25px;
    line-height: 25px;
    background-color: #0a2d5f;
    color:#ffffff;
    padding:0px;
    border-radius: 0 0 10px 10px;
    font-weight:bold;
    cursor:url('../Img/cursor2.png'), auto ;
    font-family:'Cabin',Verdana,sans-serif;
    font-size:12pt;
}
.recentarticles ul {
    list-style-image: url('../Img/pastille.png');
    list-style-position: inside;
    font-family:'Titilium Web',Verdana,sans-serif;
    font-size:10pt;
    text-align:left;
    margin:5px;
    padding:0;
    vertical-align:middle;
}
.nextevents ul {
    list-style-type: none;
    list-style-position: outside;
    font-family:'Titilium Web',Verdana,sans-serif;
    font-size:10pt;
    text-align:left;
    margin:5px;
    padding:0;
}
.nextevents .dateevent {
    color:#0c5091;
    font-weight:bold;
}
.linksnewsletters ul {
    list-style-type: none;
    list-style-position: outside;
    font-family:'Titilium Web',Verdana,sans-serif;
    font-size:10pt;
    text-align:left;
    margin:5px;
    padding:0;
}