/*
* Palette de couleurs
*
*   Bleu foncé :    #0A2D5F     10  45  95
*   Bleu texte :    #0C5091     12  80  145
*   Bleu moyen :    #337AB7     51  122 183
*   Bleu clair h:   #A3CFEA     163 207 234
*   Bleu clair :    #4BC9E2     75  201 226
*/

/*
* Importation polices Google fonts
*/
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Quicksand);
@import url(http://fonts.googleapis.com/css?family=Slabo+13px);
/**/


/*
* Elements génériques
*/
/* Paramètres par défaut pour tous les éléments */
    * {
        cursor:url('../Img/cursor1.png'), auto ;
        margin:0;
        padding:0;
}
/* */
body {
    background-image:url('../Img/body_fond.jpg');
    background-repeat:repeat;
    background-attachment: fixed;
    font-family:'Titillium Web',Verdana,sans-serif;
    display:block;
    color:#0C5091;
    top:80px;
    left:10%;
    right:10%;
    bottom:25px;
    overflow:auto;
    cursor:url('../Img/cursor1.png'), auto ;
    margin:0 0 0 280px;
    padding:0;
    min-height:100%;
    text-align:center;
}
nav {
    display:block;
    position:fixed;
    top:70px;
    left:0;
    width:100%;
    height:30px;
    background-color: #0c5091;
    background:linear-gradient(to bottom,rgba(12,80,145,1),rgba(51,122,183,0.5));
    text-align:center;
    z-index:10;
    box-shadow:0px 2px 2px rgba(0,0,0,50);
    color:#0c5091;
}
a {
    cursor:url('../Img/cursor4.png'), auto ;
    text-decoration:none;
    color:#0c5091;
}
a:hover {
    text-decoration:none;
}
a:visited{
    color:#0c5091;
}
img {
    border:0;
    vertical-align:middle;
}
input, textarea, select {
    cursor:url('../Img/cursor9.png'), auto ;
    border-radius:4px;
    background-color:#a3cfea;
    font-size:11pt;
    padding:1px 3px 1px 4px;
    margin:1px 2px 1px 2px;
    border:2px solid #0c5091;
    font-family: 'Slabo 13px', serif;
    transition:ease 0.5s;
}
select {
    max-width: 450px;
    font-family:'Titillium Web',Verdana,sans-serif;
}
option {
    padding:0 2px 0 4px ;
    font-family:'Titillium Web',Verdana,sans-serif;
}
option:hover {
    background-color: #a3cfea;
}
input:hover, textarea:hover {
    border:2px solid #4bc9e2;
}
input:focus, textarea:focus, select:focus {
    background-color: #FFF;
}
textarea {
    cursor:url('../Img/cursor17.png'), auto ;
    width:95%;
}
input[type="checkbox"] {
    box-shadow: 2px 2px 1px #0A2D5F;
    margin:2px;
}
h1 {
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:15pt;
    color:#0c5091;
    text-shadow: 1px 2px #a3cfea;
    padding:0;
    margin:5px 0 15px 0;
    border-bottom: 1px solid #337AB7;
}
h3 {
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:13pt;
    color:#0c5091;
    text-shadow: 1px 2px #a3cfea;
    padding:0;
    margin:3px 0 5px 0;
}
li {
    text-indent: 0;
    padding:0;
    margin:0;
}
button, input[type="submit"], input[type="button"], input[type="reset"] {
    color:#ffffff;
    border:1px solid #ffffff;
    background-color:#0a2d5f;
    border-radius:5px;
    padding:2px 4px 2px 4px;
    font-weight:bold;
    transition:ease 0.5s;
    cursor:url('../Img/cursor2.png'), auto ;
    font-family:'Cabin',Verdana,sans-serif;
    font-size:11pt;
    box-shadow:inset -2px -2px 1px #0a2d5f, inset 2px 2px 1px rgba(255,255,255,0.5);
}
button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
    color:#0a2d5f;
    border:1px solid #0a2d5f;
    background-color:#a3cfea;
}
table {
    border:1px solid #0c5091;
    border-radius: 5px;
    margin:0px;
    padding:3px;
}
/*
* Elements du layout
*/
.bandeau {
    display:block;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:70px;
    background-color: #4bc9e2;
    background:url('../Img/headerbg.png'),rgba(51,122,183,0.7);
    background:url('../Img/headerbg.png'),linear-gradient(to bottom right, rgba(51,122,183,0.7),rgba(75,201,226,1));
    background-repeat:no-repeat;
    background-position:bottom right;
    border:1px solid #FFF;
    padding:0;
    margin:0;
    z-index:5;
}
.sitetitle {
    display:block;
    position:absolute;
    top:5px;
    left:120px;
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:20pt;
    color:#FFFFFF;
    text-shadow: 1px 2px #337ab7;
    text-align:left;
}
.subtitle {
    display:block;
    font-size:13pt;
}
.leftcol {
    display:block;
    position:fixed;
    top:110px;
    right:50%;
    width:193px;
    margin:0 290px 0 0px;
    padding:0;
}
.rightcol {
    display:block;
    position:fixed;
    top:110px;
    left:50%;
    width:193px;
    margin:0 0 0 290px;
    padding:0;
}
.infosperso, .recentarticles, .nextevents, .linksnewsletters {
    display:block;
    width:193px;
    color:#000;
    font-size:10pt;
    overflow:hidden;
    font-family:'Quicksand',Verdana,sans-serif;
    background-color:#FFFFFF;
    border-radius:10px;
    box-shadow:2px 2px 2px rgba(0,0,0,100);
    text-align:center;
    border:1px solid #0a2d5f;
    padding: 10px 0px 10px 0px ;
    margin:0 0 5px 0;
}
.infosperso .photo {
    display:inline-block;
    width:100px;
    height:100px;
    margin:2px;
    border-radius:10px;
    border:1px solid #0a2d5f;
    box-shadow:1px 1px 1px rgba(10,45,95,0.5);
}
.infosperso .nom {
    font-weight:bold;
    font-size:13pt;
}
.infosperso .asso {
    font-style: italic;
    font-size:11pt;
}
.notification {
    display:block;
    position:fixed;
    right:120px;
    top:37px;
    width:100px;
    height:30px;
    border:1px solid #FFF;
    padding:0;
    text-align:center;
    background-color: #337ab7;
    font-weight:bold;
    font-family: 'Cabin', sans-serif;
    font-size:12pt;
    line-height:30px;
    vertical-align:middle;
    cursor:url('../Img/cursor13.png'), auto ;
    z-index:5;
}
.notification a {
    cursor:url('../Img/cursor13.png'), auto ;
    color:#a3cfea;
}
.notification a:hover {
    color:#FFFFFF;
}
.notification img {
    cursor:url('../Img/cursor13.png'), auto ;
}

.messages {
    display:block;
    position:fixed;
    right:220px;
    top:37px;
    width:100px;
    height:30px;
    border:1px solid #FFF;
    padding:0;
    text-align:center;
    background-color: #a3cfea;
    font-weight:bold;
    border-radius: 20px 0 0 0;
    font-family: 'Cabin', sans-serif;
    font-size:12pt;
    line-height:30px;
    vertical-align:middle;
    cursor:url('../Img/cursor16.png'), auto ;
    z-index:20;
}
.messages a {
    cursor:url('../Img/cursor16.png'), auto ;
    color:#0a2d5f;
}
.messages img {
    cursor:url('../Img/cursor16.png'), auto ;
}
.deconnexion {
    display:block;
    position:fixed;
    width:120px;
    height:30px;
    padding:0;
    text-align:center;
    background-color:#0a2d5f;
    color:#a3cfea;
    font-weight:bold;
    right:0;
    top:37px;
    border:1px solid #FFF;
    font-family: 'Cabin', sans-serif;
    font-size:10pt;
    transition:ease 0.5s;
    line-height:30px;
    vertical-align:middle;
    cursor:url('../Img/cursor15.png'), auto ;
    z-index:20;
    border-radius: 0 20px 0 0;
}
.deconnexion:hover {
    background-color:#FFF;
    color:#0a2d5f;
    border:1px solid #0a2d5f;
}
.deconnexion:visited {
    color:#a3cfea;
}
.deconnexion:hover:visited {
    color:#0a2d5f;
}
.infosperso form {
    display:block;
    width:100%;
    margin:0 0 0 0;
    text-align:center;
    vertical-align:middle;
}
.titrecol {
    display:block;
    position:relative;
    margin:0 0 10px 0;
    padding:2px 4px 2px 1px;
    left:5px;
    height:20px;
    width:171px;
    text-align:center;
    background-color:#a3cfea;
    color:#0a2d5f;
    border-radius: 10px;
    border:1px solid #0c5091;
    box-shadow: 2px 2px 2px rgba(10,45,95,0.6);
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:12pt;
}
.infosperso label {
    font-size:12pt;
    font-weight:bold;
    cursor:inherit;
}
.btn {
    cursor:inherit;
}
.infosperso .lostpass, .lienprofil {
    display:inline-block;
    font-size:10pt;
    text-decoration:none;
    color:#0a2d5f;
    padding:1px 2px 4px 2px;
}
.infosperso #login, #password {
    width:90%;
    margin-top:5px;
    margin-bottom:5px;
}
nav ul {
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    padding:0;
}
nav li {
    list-style-type: none;
    list-style-position: inside;
    margin:0;
    padding:0;
    display:inline-block;
    position:relative;
}
nav li a {
    display:inline-block;
    width:120px;
    background-color:#FFFFFF;
    color:#0a2d5f;
    font-weight:bold;
    text-decoration: none;
    margin:4px;
    border-radius: 4px;
    border:1px #0c5091 solid;
    transition:ease 0.5s;
    font-family: 'Cabin', sans-serif;
    font-size:11pt;
    font-weight:bold;
    text-shadow:none;
}
nav li a:visited {
    color:#0a2d5f;
}
nav li .submenu {
    display:none;
}
nav li:hover .submenu {
    display:block;
    position:absolute;
    top:25px;
    left:0;
}
.submenu a {
    display:block;
    box-shadow:2px 2px 2px;
}
nav li a:hover {
    color: #000000;
    background-color: #a3cfea;
    text-decoration:none;
}
.page {
    display:inline-block;
    position:relative;
    top:110px;
    padding:10px 10px 40px 10px;
    width:540px;
    margin:0 0 180px -280px;
    cursor:url('../Img/cursor1.png'), auto ;
    font-family:'Titillium Web', Verdana, sans-serif;
    font-size:12pt;
    background-color:#FFFFFF;
    border-radius:10px;
    box-shadow:2px 2px 2px rgba(0,0,0,50);
    border:1px solid #0a2d5f;
    text-align: left;
}
.page h1 {
    font-size:15pt;
    margin:3px 2px 8px 2px;
}
p {
    text-align: justify;
}
button, #loginbutton {
    color:#ffffff;
    border:1px solid #ffffff;
    background-color:#0a2d5f;
    border-radius:5px;
    padding:1px 4px 1px 4px;
    font-weight:bold;
    transition:ease 0.5s;
    cursor:url('../Img/cursor2.png'), auto ;
    font-family:'Cabin',Verdana,sans-serif;
}
button, #loginbutton:hover {
    color:#0a2d5f;
    border:1px solid #0a2d5f;
    background-color:#a3cfea;
}
.logo {
    font-size:0;
    display:block;
    position:absolute;
    top:5px;
    left:10px;
    width:84px;
    height:60px;
    background-image:url('../Img/logo.png');
    cursor:url('../Img/cursor3.png'), auto ;
}
.footer {
    display:block;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:20px;
    line-height:15px;
    vertical-align:middle;
    text-align:center;
    background-color:#0a2d5f;
    color:#FFF;
    font-size:10pt;
    font-family:'Quicksand',Verdana,sans-serif;
    z-index:9;
}
.footer a {
    color:#FFF;
    cursor:url('../Img/cursor5.png'), auto ;
}
.footer a:hover {
    color:#4bc9e2;
    text-decoration:none;
}
.customAlert {
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.7));
    z-index:1000;
    margin:0;
    padding:0;
}
.customAlert .box {
    display:block;
    background-color:#a3cfea;
    width:300px;
    border-radius: 10px;
    padding:5px 5px 40px 5px;
    position:fixed;
    bottom:50%;
    left:50%;
    margin-left: -150px;
    margin-bottom:-20px;
    text-align:center;
    opacity:1;
    color:#000000;
    border:1px solid #FFFFFF;
}
.customAlert .ok {
    display:block;
    position:absolute;
    bottom:0;
    left:-2px;
    width:100%;
    height:25px;
    line-height: 25px;
    background-color: #0a2d5f;
    color:#ffffff;
    padding:0px;
    border-radius: 0 0 10px 10px;
    font-weight:bold;
    cursor:url('../Img/cursor2.png'), auto ;
    font-family:'Cabin',Verdana,sans-serif;
    font-size:12pt;
}

.recentarticles ul {
    list-style-type:none;
    list-style-position: outside;
    font-family:'Titilium Web',Verdana,sans-serif;
    font-size:10pt;
    text-align:left;
    margin:5px;
    padding:0;
    vertical-align:middle;
}
.recentarticles ul li {
    display:block;
    font-family:'Titilium Web',Verdana,sans-serif;
    font-size:10pt;
    text-align:left;
    margin:0;
    padding:4px 1px 4px 1px;
    vertical-align:top;
    border-bottom:1px dashed #0c5091;
}
.recentarticles .iconesarticle {
    display:table-cell;
    width:30px;
}
.recentarticles .iconesarticle img {
    height:30px;
    width:30px;
}
.recentarticles .titrearticle {
    display:table-cell;
    vertical-align: middle;
    padding-left: 3px;
}
.recentarticles ul li:first-child {
    border-top:1px dashed #0c5091;
}
.nextevents ul {
    list-style-type: none;
    list-style-position: outside;
    font-family:'Titilium Web',Verdana,sans-serif;
    font-size:10pt;
    text-align:left;
    margin:5px;
    padding:0;
}
.nextevents .dateevent {
    color:#0c5091;
    font-weight:bold;
}
.linksnewsletters ul {
    list-style-type: none;
    list-style-position: outside;
    font-family:'Titilium Web',Verdana,sans-serif;
    font-size:10pt;
    text-align:left;
    margin:5px;
    padding:0;
}
/*
* Curseurs personnalisés
*/
    .cursor_fne {
        cursor:url('../Img/cursor1.png'), auto ;
    }
    .cursor_return {
        cursor:url('../Img/cursor2.png'), auto ;
    }
    .cursor_home {
        cursor:url('../Img/cursor3.png'), auto ;
    }
    .cursor_play {
        cursor:url('../Img/cursor4.png'), auto ;
    }
    .cursor_question {
        cursor:url('../Img/cursor5.png'), auto ;
    }
    .cursor_cross {
        cursor:url('../Img/cursor6.png'), auto ;
    }
    .cursor_add {
        cursor:url('../Img/cursor7.png'), auto ;
    }
    .cursor_view {
        cursor:url('../Img/cursor8.png'), auto ;
    }
    .cursor_type {
        cursor:url('../Img/cursor9.png'), auto ;
    }
    .cursor_check {
        cursor:url('../Img/cursor10.png'), auto ;
    }
    .cursor_read {
        cursor:url('../Img/cursor11.png'), auto ;
    }
    .cursor_search {
        cursor:url('../Img/cursor12.png'), auto ;
    }
    .cursor_notice {
        cursor:url('../Img/cursor13.png'), auto ;
    }
    .cursor_time {
        cursor:url('../Img/cursor14.png'), auto ;
    }
    .cursor_switchoff {
        cursor:url('../Img/cursor15.png'), auto ;
    }
    .cursor_message {
        cursor:url('../Img/cursor16.png'), auto ;
    }
    .cursor_text {
        cursor:url('../Img/cursor17.png'), auto ;
    }