#mail, #mailR, #pass1, #pass2, #iCaptcha{
    width: 330px;
    margin: 0 auto;
}
label.valid {
    width: 24px;
    height: 24px;
    background: url(../Img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
#result
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    border: 2px solid #0C5091;
    border-radius: 15px;
    background-color: #A3CFEA;
    color: #000;
    padding: 10px;
    text-align: left;
    box-shadow: 8px 8px 8px #0C5091;
}

#result .label
{
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.norequired
{
    border: 1px solid #f00;
    box-shadow: 1px 1px 2px #f00;
}
