
/**
* Styles pour le formulaire de recuparation de MP
*/
#mail, #mailR, #pass1, #pass2{
    width: 330px;
    margin: 0 auto;
}
#iCaptcha, #act_pass, #rnew_pass, #new_pass{
    width: 200px;
    margin: 0 auto;
}
#btn_changer{
    width: 100px;
    margin: 0 auto;
}
#ch_mp{
    margin: 0 auto;
}
label.valid {
    width: 24px;
    height: 24px;
    background: url(../Img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 1px 3px;
    margin-top: 2px;
}
#result
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    border: 2px solid #0C5091;
    border-radius: 15px;
    background-color: #A3CFEA;
    color: #000;
    padding: 10px;
    text-align: left;
    box-shadow: 8px 8px 8px #0C5091;
}

#result .label
{
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.norequired
{
    border: 0 solid #f00;
    box-shadow: 1px 1px 2px #f00;
}
#chP{
    display: block; 
    color: red; 
    font-size: 11pt; 
    font-weight: bold;
}
/*Fin styles rMP*/