.BUTTON_MESSAGE
{
    width: 50px;
}
.SENDER_MESSAGE
{
    width: 150px;
}
.contentMessage
{
    display: none;
    width: 500px;
}
.notReaded
{
    font-weight: bold;
}
#form_radio fieldset {
    border:1px solid #0c5091;
    border-radius: 5px;
    margin:3px;
    padding:3px;
    text-align:center;
    position:relative;
}
#form_radio fieldset legend {
    display:block;
    position:relative;
    margin:0 0 10px 0;
    padding:1px 15px 4px 15px;
    left:5px;
    height:20px;
    text-align:center;
    background-color:#a3cfea;
    color:#0a2d5f;
    border-radius: 10px;
    border:1px solid #0c5091;
    box-shadow: 2px 2px 2px #000000;
    font-family:'Quicksand',Verdana,sans-serif;
    font-size:12pt;
    font-weight:bold;
}
/*
* Radio custom
*/
    #form_radio input[type="radio"]:not(:checked),
    #form_radio input[type="radio"]:checked {
        display: none;
    }
    #form_radio input[type="radio"]:not(:checked) + label,
    #form_radio input[type="radio"]:checked + label {
        display:inline-block;
        border-radius:5px;
        position: relative;
        cursor:url('../Img/cursor6.png'), auto;
        margin:0 2px 0 2px;
        padding:2px 10px 2px 10px;
        font-weight:bold;
        font-size:11pt;
        transition:ease 0.5s;
    }
    /* Aspect si "pas cochée" */
    input[type="radio"]:not(:checked) + label {
        background-color:#a3cfea;
        color:#0a2d5f;
        border:1px solid #0a2d5f;
        box-shadow:inset -2px -2px 1px #0a2d5f, inset 2px 2px 1px #FFFFFF;
    }
    /* Aspect si "cochée" */
    input[type="radio"]:checked + label {
        background-color: #0a2d5f;
        color:#ffffff;
        border: 1px solid #4bc9e2;
        box-shadow:inset -2px -2px 1px #0c5091, inset 2px 2px 1px #000000;
    }
/* */
.reportid {
    display:none;
}
.reportdate {
    border-radius:5px;
    border:1px solid #0c5091;
    margin:0 10px 0 0;
    padding:2px 10px 2px 10px;
    font-size:9pt;
}
.reportcontent {
    font-size:11pt;
}
.ALL {
    margin:0 0 5px 0;
    border-bottom: 1px dashed #0c5091;
}