.table{
	width: 540px;
	table-layout: fixed;
}

.tr-even{
	background-color: #DBDBDB;
}

.changePageButton {
     background: none;
     border: none;
     color: #0066ff;
     text-decoration: underline;
     cursor: pointer;
}
