table {
	font-size: 12px;
	width:540px;
}

tbody tr:nth-child(odd) { 
	background-color:#eee;
}

.lineMessage {
	text-align: center;
}


.contentMessage {
	display: none;
	max-width: 320px;
	margin : 0;
}
.notReaded {
	font-weight: bold;
}
.SENDER_MESSAGE {
	width: 100px;
	text-align: center;
}
.DATE_MESSAGE {
	width: 65px;
	text-align: center;
}
.DATE_NOTIF {
	width: 85px;
}
.BUTTON_MESSAGE {
	width: 45px;
}

td button {
	font-size: 12px;
	width: 65px;
}
.divArchiveMessages {
	display: none;
}

.TITLE_MESSAGE {
	width: 220px;
	text-align: center;
}

.NOTIFICATION_NOTIF {
	width: 385px;
}

.BUTTON_NOTIF {
	width: 42px;
}

