.contentMessage {
	display: none;
	max-width: 320px;
	margin : 0;
}
.notReaded {
	font-weight: bold;
}
.SENDER_MESSAGE {
	width: 140px;
}
.DATE_MESSAGE {
	width: 85px;
}
.BUTTON_MESSAGE {
	width: 45px;
}
.CATEGORY_MESSAGE {
	width: 100px;
}
.THEME_MESSAGE {
	width: 100px;
}
.btnOptions {
	display: none;
	margin-top: 5px;
}
.btnOptions button {
	margin: 5px 0;
}
.divArchiveMessages {
	display: none;
}

.TITLE_MESSAGE {
	width: 250px;
}

table {
	border : 1px solid black;
	text-align : center;
	border-spacing: 0px;
}

th {
	border : 1px solid black;
}